<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NathalieInwentaryzacje.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NathalieInwentaryzacje.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro.Platform" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro.Platform.Core" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <NathalieInwentaryzacje.Properties.Settings>
      <setting name="RepoAddress" serializeAs="String">
        <value>http://barser.com/svn/nathalie-inwentaryzacje</value>
      </setting>
      <setting name="RepoUser" serializeAs="String">
        <value>nathalie</value>
      </setting>
      <setting name="RepoPassword" serializeAs="String">
        <value>Tymoteusz2017</value>
      </setting>
      <setting name="NumberOfReportRecords" serializeAs="String">
        <value>40</value>
      </setting>
    </NathalieInwentaryzacje.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <NathalieInwentaryzacje.Properties.Settings>
      <setting name="MainDataPath" serializeAs="String">
        <value>.\Data</value>
      </setting>
      <setting name="RecordsDirName" serializeAs="String">
        <value>Inwentaryzacje</value>
      </setting>
      <setting name="TemplatesDirName" serializeAs="String">
        <value>Szablony</value>
      </setting>
    </NathalieInwentaryzacje.Properties.Settings>
  </applicationSettings>
</configuration>